.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}

.about__text {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.about__text > h1 {
  font-size: 72px;
  line-height: 1.875em;
  text-align: left;
}

.about__text > p {
  font-size: 21px;
  line-height: 1.35em;
  text-align: left;
}

.about__image > img {
  width: 100%;
  height: 949px;
  object-fit: cover;
  object-position: 50% 50%;
}
